body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

header {
    background-color: #1c8a95;
    color: #fff;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    background-color: #1c8a9582;
    padding: 0;
    margin-top: 2px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #1c8a95;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: auto; 
}
